.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


#new-user-form {
    display: none;
}

.table, 
.second-table{
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 0px 5px black;
}

.table thead tr,
.second-table thead tr{
    background-color: rgb(241, 225, 206);
    outline: black;
}

tr {
    background-color: rgb(240, 211, 216);
}

.table th, .table td
.second-table th, .second-table td{
    padding: 10px;
    text-align: center;
    border: 1px solid, black;
}

.table tbody tr:hover{
    background-color: #8080804a;
}

.table tbody tr:active{
    box-shadow: 0px 0px 5px black;
}